* {{
	bg0:    #{background.strip};
	bg1:    #{color1.strip};
	bg2:    #{color2.strip};
	bg3:    #{color3.strip};
	fg0:    #{foreground.strip};
	fg1:    #{color4.strip};
	fg2:    #{color5.strip};
	fg3:    #{color6.strip};
}}
